/* header.component.scss */

#header-container {
  font-family: "Arial Black", fantasy;
  font-size: 30px;
  background-color: #122028;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.pink-header {
  color: #e31043;
}

.author-info {
  padding: 15px;
  font-size: 24px;
}
