<header id="header-container">
  <h1 class="header-title">Лабораторная работа <span class="pink-header">№ 4</span></h1>
  <h1>Дисциплина: <span class="pink-header">Веб-программирование</span></h1>
  <h2 class="author-info">
      ФИО: <span class="pink-header">Пронкин Алексей Дмитриевич</span>,
      Группа: <span class="pink-header">P3208</span>,
      Вариант: <span class="pink-header">39485</span>
  </h2>
  <!-- Logout Button: Visible only when logged in -->
  <button
    *ngIf="authService.isLoggedIn()"
    (click)="logout()"
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
    Logout
  </button>
</header>
