<form (submit)="onSubmit()" #dataForm="ngForm">
  <!-- Координата X -->
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2">Координата X:</label>
    <div class="flex flex-wrap">
        <label *ngFor="let xValue of xValues" class="mr-4 mb-2 flex items-center">
          <input type="checkbox"
                 [value]="xValue"
                 [checked]="selectedXValue === xValue"
                 (change)="onXChange(xValue)"
                 class="mr-1">
          {{ xValue }}
        </label>
    </div>
    <p *ngIf="errorX" class="text-red-500 text-xs italic">{{ errorX }}</p>
  </div>

  <!-- Координата Y -->
  <div class="mb-4">
    <label for="y" class="block text-gray-700 font-bold mb-2">Координата Y (-3 до 3):</label>
    <input type="text"
           id="y"
           name="y"
           required
           [(ngModel)]="y"
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           placeholder="Введите Y">
    <p *ngIf="errorY" class="text-red-500 text-xs italic">{{ errorY }}</p>
  </div>

  <!-- Радиус R -->
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2">Радиус R:</label>
    <div class="flex flex-wrap">
      <label *ngFor="let rValue of rValues" class="mr-4 mb-2 flex items-center">
        <input type="checkbox"
               [value]="rValue"
               [checked]="selectedRValue === rValue"
               (change)="onRChange(rValue)"
               class="mr-1">
        {{ rValue }}
      </label>
    </div>
    <p *ngIf="errorR" class="text-red-500 text-xs italic">{{ errorR }}</p>
  </div>

  <!-- Кнопки действия -->
  <div class="flex space-x-4">
    <!-- Кнопка отправки -->
    <button type="submit" class="bg-gray-800 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
      Проверить
    </button>

    <!-- Кнопка очистки -->
    <button type="button" (click)="onClear(dataForm)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
      Очистить
    </button>
  </div>
</form>
